# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db